@model DiffPlex.DiffBuilder.Model.SideBySideDiffModel

<div id="diffBox">
    <div id="leftPane">
        <div class="diffHeader">Old Text</div>

        @await Html.PartialAsync("DiffPane", Model.OldText)
    </div>
    <div id="rightPane">
        <div class="diffHeader">New Text</div>
        @await Html.PartialAsync("DiffPane", Model.NewText)
    </div>
    <div class="clear">
    </div>
</div>
