@using DiffPlex.DiffBuilder.Model
@model DiffPiece
@{
    const string spaceValue = "\u00B7";
    const string tabValue = "\u00B7\u00B7";
}
@if (!string.IsNullOrEmpty(Model.Text))
{
    if (Model.Type == ChangeType.Deleted || Model.Type == ChangeType.Inserted || Model.Type == ChangeType.Unchanged)
    {
        @(Model.Text.Replace(" ", spaceValue).Replace("\t", tabValue))
    }
    else if (Model.Type == ChangeType.Modified)
    {
        foreach (var character in Model.SubPieces)
        {
            if (character.Type == ChangeType.Imaginary) { continue; }
            <span class="@character.Type.ToString()Character">@(character.Text.Replace(" ", spaceValue))</span>
        }
    }
}