#diffBar {
    width: 3%;
    height: 100%;
    float: left;
    position: relative;
    background: #DDDDDD;
}

.diffBarLineLeft, .diffBarLineRight {
    width: 50%;
    float: left;
    height: 0px;
    cursor: pointer;
}

.inView {
    background-image: url("../Content/InView.png");
    background-repeat: repeat;
}

#activeBar {
    position: absolute;
    top: 0px;
    background-color: #6699FF;
    opacity: 0.5;
    filter: alpha(opacity='50');
}


#diffBox {
    margin-left: auto;
    margin-right: auto;
    border: solid 2px #000000;
}


#leftPane, #rightPane {
    float: left;
    width: 50%;
}

.diffHeader {
    font-weight: bold;
    padding: 2px 0px 2px 10px;
    background-color: #FFFFFF;
    text-align: center;
}

.diffPane {
    margin-right: 0px;
    padding: 0px;
    overflow: auto;
    font-family: Courier New;
    font-size: 1em;
}

.diffTable {
    width: 100%;
    height: 100%;
}

.line {
    padding-left: .2em;
    white-space: nowrap;
    width: 100%;
}

.piece {
    font-size: 12px;
}

.lineNumber {
    padding: 0 .3em;
    background-color: #FFFFFF;
    text-align: right;
}

.InsertedLine {
    background-color: #FFFF00;
}

.ModifiedLine {
    background-color: #DCDCFF;
    font-size: 0;
}

.DeletedLine {
    background-color: #FFC864;
}

.UnchangedLine {
    background-color: #FFFFFF;
}

.ImaginaryLine {
    background-color: #C8C8C8;
}

.InsertedCharacter {
    background-color: #FFFF96;
}

.DeletedCharacter {
    background-color: #C86464;
}

.UnchangedCharacter {
}

.ImaginaryCharacter {
}

.clear {
    clear: both;
}
